h1 {
  color: white;
  font-weight: bold;
  font-size: 8vh;
}
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 3%;
  box-shadow: 5px 5px 5px 5px #403d39;
}
.login {
  padding: 150px;
}
.smiley {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 6px solid white;
  display: flex;
  flex-direction: column;
}
button {
  background-color: #403d39;
  color: white;
}
#leftEye {
  margin-top: 30px;
  margin-left: 10px;
  height: 7px;
  width: 25px;
  background-color: white;
}
#rightEye {
  margin-top: -15px;
  margin-left: 40px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 6px solid white;
}
#mouth {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 25px;
  background-color: white;
  width: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}
