/* body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ff70a6, #ff9770, #e9ff70);
} */
h1 {
  color: white;
  font-weight: bold;
}
.back {
  margin-top: 30%;
  margin-left: 40% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 3%;
  box-shadow: 5px 5px 5px 5px #403d39;
}
.login {
  padding: 150px;
}
